/* FONTS */

/* lexend-deca-regular - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lexend-deca-v7-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/lexend-deca-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-mono-v6-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/space-mono-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* VARIABLES */
:root {
  --blue: #00bafc;
  --footer-bg: #191919;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.container {
  width: 1146px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.site-header {
  padding: 22px 0;
}
.logo__img {
  display: block;
  margin-right: 58px;
}
.sitenav {
  display: flex;
  align-items: center;
}
.sitenav__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  text-decoration: none;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  transition: all 0.3s ease-in-out;
}
.sitenav__link:hover {
  color: #fcb72b;
}
.sitenav__button {
  padding: 11px 39px;
  border: 3px solid #fcb72b;
  margin-left: auto;
  text-decoration: none;
  background: #fcb72b;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.sitenav__button:hover {
  color: #fcb72b;
  background-color: #fff;
}

/* MAIN */

main {
  overflow-x: hidden;
}

.hero {
  padding-top: 153px;
  padding-bottom: 127px;
  margin-bottom: 160px;
  background: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
    url(../images/Bitmap-bg.svg) center center no-repeat;
  position: relative;
  overflow-x: hidden;
}
.hero__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero__title {
  max-width: 500px;
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}
.hero__text {
  max-width: 405px;
  margin: 0;
  padding-left: 95px;
  margin-bottom: 40px;
  font-family: 'Lexend Deca', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  display: flex;
  position: relative;
}
.hero__text::before {
  content: '';
  background-image: url(../images/yellow0.svg);
  width: 203px;
  height: 15px;
  position: absolute;
  left: -202px;
  top: 50%;
}
.hero__text::after {
  content: '';
  background-image: url(../images/yellow1.svg);
  width: 452px;
  height: 151px;
  position: absolute;
  right: -484px;
  top: 50%;
}
.hero__button {
  padding: 11px 39px;
  border: 3px solid #fcb72b;
  text-decoration: none;
  background: #fcb72b;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;
}

.hero__button:hover {
  color: #fcb72b;
  background: transparent;
}

.hero__slider--list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  position: absolute;
  right: -190px;
  bottom: 16px;
}
.hero__slider--item:not(:last-child) {
  margin-right: 24px;
}
.hero__slider--button {
  padding: 28px;
  border: 3px solid #ffffff;
  background: transparent;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button--active,
.hero__slider--button:hover {
  background: #fff;
}

.delivery {
  position: relative;
  margin-bottom: 200px;
}
.delivery__container::before {
  display: block;
  content: '';
  width: 974px;
  height: 15px;
  background: #e5ecf4;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -99;
}
.delivery__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
.delivery__item::before {
  width: 96px;
  height: 96px;
  margin-bottom: 40px;
  border-radius: 50%;
  display: block;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #fcb72b;
}
.locate-app::before {
  background-image: url(../images/locate-app.svg);
}
.pick-scooter::before {
  background-image: url(../images/pick-scooter.svg);
}
.enjoy-ride::before {
  background-image: url(../images/enjoy-ride.svg);
}
.delivery__item:not(:last-child) {
  margin-right: 30px;
}
.delivery__item--title {
  margin: 0;
  margin-bottom: 22px;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.delivery__item--text {
  margin: 0;
  font-family: 'Lexend Deca', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.offer__list {
  list-style-type: none;
}
.offer__item {
  display: flex;
  position: relative;
  margin-bottom: 292px;
}
.coming {
  flex-direction: row-reverse;
}
.offer__item::after {
  width: 610px;
  height: 445px;
  content: '';
  position: absolute;
}
.easy::after {
  width: 741px;
  height: 450px;
  background-image: url(../images/easy-bg.svg);
  right: -167px;
  top: -60px;
}
.coming::after {
  background-image: url(../images/coming-bg.svg);
  left: -167px;
  top: -60px;
}
.zero::after {
  background-image: url(../images/zero-bg.svg);
  right: -167px;
  top: -60px;
}
.offer__title {
  max-width: 445px;
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.offer__text {
  max-width: 445px;
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Lexend Deca', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}
.offer__button {
  display: inline-block;
  padding: 11px 39px;
  border: 3px solid #fcb72b;
  text-decoration: none;
  background: #fcb72b;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;
}

.offer__button:hover {
  color: #fcb72b;
  background: transparent;
}

.sign-in {
  padding: 102px 0;
  background: #495567;
  background-image: url(../images/sign-in-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.sign-in__container {
  display: flex;
}
.sign-in__title {
  margin: 0;
  max-width: 415px;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #ffffff;
}
.sign-in__list {
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.sign-in__link {
  display: block;
  width: 159px;
  height: 56px;
}
.app-store {
  margin-right: 18px;
  background-image: url(../images/appstore.svg);
}
.google-play {
  background-image: url(../images/googleplay.svg);
  width: 182px;
}

.about {
  padding: 72px 0;
  margin-bottom: 245px;
  background: linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
    url(../images/about-bg.svg) center center no-repeat;
}
.about__container {
  position: relative;
}
.about__container::after {
  content: '';
  display: block;
  background-image: url(../images/toggle.svg);
  width: 203px;
  height: 63px;
  position: absolute;
  right: -147px;
  top: -4px;
}
.about__title {
  margin: 0;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.about-offer__list {
  margin: 0;
  margin-bottom: 245px;
  padding: 0;
  list-style-type: none;
}
.about-offer__item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-offer__item::after {
  display: block;
  content: '';
  position: absolute;
}
.mobility {
  margin-bottom: 370px;
}
.better {
  align-items: flex-end;
}
.mobility::after {
  width: 741px;
  height: 445px;
  background-image: url(../images/mobility.svg);
  right: -167px;
  top: -245px;
}
.better::after {
  width: 610px;
  height: 445px;
  background-image: url(../images/better.svg);
  left: -167px;
  top: -135px;
}
.about-offer__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 445px;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.about-offer__text {
  margin: 0;
  max-width: 445px;
  font-family: 'Lexend Deca', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.values {
  margin-bottom: 120px;
}
.values__title {
  margin: 0;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}
.values__list {
  list-style-type: none;
  display: flex;
}
.values__item:not(:last-child) {
  margin-right: 30px;
}
.values__item::before {
  margin-bottom: 32px;
  display: block;
  content: '';
  width: 350px;
  height: 350px;
}
.value1::before {
  background-image: url(../images/value1.svg);
}
.value2::before {
  background-image: url(../images/value2.svg);
}
.value3::before {
  background-image: url(../images/value3.svg);
}
.values__item--title {
  margin: 0;
  margin-bottom: 27px;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}
.values__item--text {
  margin: 0;
  font-family: 'Lexend Deca', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}
/* FOOTER */

.site-footer {
  background: #333a44;
  padding-top: 35px;
  padding-bottom: 32px;
}

.site-footer__container {
  display: flex;
  align-items: center;
}
.site-footer__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.site-footer__item:not(:last-child) {
  margin-right: 32px;
}

.site-footer__link {
  text-decoration: none;
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  transition: all 0.3s ease-in-out;
}
.site-footer__link:hover {
  color: #fcb72b;
}

.site-footer__social--list {
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.site-footer__social--item:not(:last-child) {
  margin-right: 24px;
}

.social-network {
  transition: all 0.3s ease-in-out;
}
.social-network:hover path {
  fill: #fff;
}
